body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  /* background-image: url(https://wallpapers.com/images/high/pop-music-3l91zmc9718hwgjj.webp); */
  background-image:url(https://media.istockphoto.com/id/1471448614/photo/crowd-of-people-dancing-at-a-music-show-in-barcelona-during-the-summer-of-2022.jpg?s=612x612&w=0&k=20&c=FpGZq6p-1Gqx1JHN-mgapyQhLlvtNGr2M-hxm7mSvt0=);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color:white;
  font-family: "Courier New", Courier, monospace;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #ff0037;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #050a0f;
  border-radius: 500px;
  
}
