body {
  font-family: Arial, sans-serif;
  background-color: #6e5252;
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/4296349/pexels-photo-4296349.jpeg?auto=compress&cs=tinysrgb&w=1000);
  background-repeat: no-repeat;
  background-size: cover;
}

#index {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background-color: #171515;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#index a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color:rgb(42, 57, 28);
  text-decoration: none;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

#a:hover {
  background-color: #0056b3;
  border-radius: 3rem;
  background-color: rgb(178, 180, 18);
  font-style: oblique;
  color: #ffffff; 
}
#b:hover {
  background-color: #0056b3;
  border-radius: 3rem;
  background-color: rgb(190, 82, 25);
  font-style: italic;
  color: #ffffff;
}
h1 {
  color: #e5dcda;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  
}
#index:hover {
  background-color: #c0c0c0;
}
